:root {
  --primary-color: #007bff;
  --primary-color-hover: #0056b3;
  --input-border-color: #ccc;
  --input-focus-border-color: #007bff;
  --button-text-color: #fff;
  --button-bg-color: #007bff;
  --button-bg-hover-color: #0056b3;

  --background-color: #ffffff;
  --background-color-hover: #e8e9ea;

  --box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.position-absolute {
  position: absolute !important;
}

.border-none {
  border: none !important;
}

.border-radius-small {
  border-radius: 5px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
