:root {
  --primary-color: #007bff;
  --primary-color-hover: #0056b3;
  --input-border-color: #ccc;
  --input-focus-border-color: #007bff;
  --button-text-color: #fff;
  --button-bg-color: #007bff;
  --button-bg-hover-color: #0056b3;

  --background-color: #ffffff;
  --background-color-hover: #e8e9ea;

  --box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);

  --border-radius-small: 5px;
}

.mt-r0-5 {
  margin-top: 0.5rem !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.border-none {
  border: none !important;
}

.border-radius-small {
  border-radius: var(--border-radius-small) !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.box-shadow {
  box-shadow: var(--box-shadow) !important;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed !important;
  opacity: 0.7 !important;
}
