.direction-wrap {
  position: absolute;
  left: 50px;
  z-index: 500;
  display: flex;
  flex-direction: column;
  width: 320px;
  max-width: 320px;
  top: 10px;
  background-color: var(--background-color);
  padding: 35px 10px 7px;
}

.close-icon {
  z-index: 500;
  right: 10px;
  top: 5px;
}
