.locate-button {
  z-index: 1000;
  bottom: 100px;
  right: 20px;
  background: var(--background-color);
  padding: 5px 10px;

  &:hover,
  &:focus {
    background-color: var(--background-color-hover);
  }
}
