.locate-button {
  z-index: 1000;
  bottom: 100px;
  right: 20px;
  background: var(--color-button-bg);
  padding: 5px 10px;
  box-shadow: var(--box-shadow);

  &:hover,
  &:focus {
    background-color: var(--color-button-bg-hover);
  }
}
