#map-container {
  height: 100vh;
  width: 100vw;
}

.direction-wrap {
  position: absolute;
  left: 375px;
  top: 12px;
  z-index: 500;
  background-color: var(--background-color);
  padding: 5px 5px 0;
  border-radius: 3px;
}
