#map-container {
  height: 100vh;
  width: 100vw;
}

map-search.search {
  position: absolute;
  left: 50px;
  z-index: 500;
  display: flex;
  flex-direction: column;
  width: 320px;
  max-width: 320px;
  top: 10px;
}

.direction-wrap {
  position: absolute;
  left: 375px;
  top: 12px;
  z-index: 500;
  background-color: var(--background-color);
  padding: 5px 5px 0;
  border-radius: 3px;
}
