.search-wrap {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 500;
  display: flex;
  flex-direction: column;
  width: 320px;
  max-width: 320px;
}

.search-box {
  display: flex;
  justify-content: space-between;
}

#search-input {
  width: 320px;
  padding: 8px 32px 8px 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 8px;
}

#search-result {
  background: var(--background-color);
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  border-radius: 5px;
}

#search-result .result-item {
  border-bottom: 1px solid var(--input-border-color);
  padding: 8px 12px;
}

#search-result .result-item:hover {
  background-color: var(--hover-background-color);
}
