<div class="search-wrap">
  <span class="search-box position-relative">
    <input
      type="text"
      id="search-input"
      placeholder="Search for a location..."
      [(ngModel)]="searchTerm"
      (keyup.enter)="search()"
      [disabled]="!map"
    />
    <div class="search-icon cursor-pointer" (click)="search()">
      <ng-container *ngTemplateOutlet="searchTemplate"></ng-container>
    </div>
  </span>
  <map-serch-result-list
    [results]="searchResult"
    (selectedResult)="setInputValue($event); addMarker($event)"
    *ngIf="showResults"
  ></map-serch-result-list>
</div>

<ng-template #searchTemplate>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="feather feather-search"
  >
    <circle cx="11" cy="11" r="8"></circle>
    <line x1="23" y1="23" x2="16.65" y2="16.65"></line>
  </svg>
</ng-template>
