.search-box {
  display: flex;
  justify-content: space-between;
}

#search-input {
  width: 320px;
  padding: 8px 70px 8px 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  outline: none;
  border-width: 2px;

  &:focus {
    border-color: var(--input-focus-border-color);
  }
}

.action-wrap {
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  column-gap: 15px;

  svg {
    vertical-align: middle;
  }

  .clear-icon:hover svg line,
  .search-icon:hover svg {
    stroke: var(--primary-color-hover);
  }
}
