.search-box {
  display: flex;
  justify-content: space-between;
}

#search-input {
  width: 320px;
  padding: 8px 32px 8px 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  outline: none;
  border-width: 2px;

  &:focus {
    border-color: var(--input-focus-border-color);
  }
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 8px;
}
